.navlink__item {
  padding: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-secondary);
}

.navlink__item:hover {
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
}
